<html>
    <head>
        <link rel="stylesheet" href="static/style.css" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title>RINHA DO MALVÃO</title>
    </head>
    <body>
        <div class="main-container">
            <header class="header">
              <div class="logo">💪🏻</div>
              <h1 class="title">Laboratório do Thiaguera</h1>
            </header>
            <a href="/">Rinha do Malvão originial</a>
            <div class="divider">
              <div class="container1">
                <form method="post" action="/sorteiolaboratorio">
                    <button type="submit">Realizar Sorteio</button>
                </form>
            </div>
            {% if numero1 is defined and nomes_associados1 is defined %}
             
            <div class="container">
                
                    <div class="table-container equipe1">
                        <button onclick="copiarNomes('equipe1')">Copiar Campeões Equipe 1</button>
                        <h2>Equipe 1 {{ nome_associado1 }}</h2>
                        <table>
                            <tr>
                                <th>{{ nome_associado1 }}</th>
                            </tr>
                            {% for nome in nomes_associados1 %}
                                <tr>
                                    <td><img src="{{ url_for('static', path='champion/' + nome + '.png') }}" style="width: 25px; height: auto;">{{ nome }}</td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                {% endif %}
                
                {% if numero2 is defined and nomes_associados2 is defined %}
                    <div class="table-container equipe2">
                        <button onclick="copiarNomes('equipe2')">Copiar Campeões Equipe 2</button> 
                        <h2>Equipe 2: {{ nome_associado2 }}</h2> 
                        <table>
                            <tr>
                                <th>{{ nome_associado2 }}</th>
                            </tr>
                            {% for nome in nomes_associados2 %}
                                <tr>
                                    <td><img src="{{ url_for('static', path='champion/' + nome + '.png') }}" style="width: 25px; height: auto;">{{ nome }}</td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                    
                
          
            </div>
                
                
          
            <script>
                function copiarNomes(equipe) {
                    var nomesEquipe = Array.from(document.querySelectorAll(`.${equipe} td`)).map(td => td.innerText).join(', ');
            
                    var mensagem = `Campeões da Equipe ${equipe}: ${nomesEquipe}`;
            
                    navigator.clipboard.writeText(nomesEquipe).then(function() {
                        alert(`Campeões ${equipe} copiados para a área de transferência!`);
                    }).catch(function(err) {
                        console.error(`Erro ao copiar os Campeões da Equipe ${equipe}: `, err);
                    });
                }
            </script>
            {% endif %}
            
            <div class="rodape">
                <p>Sorteador da Rinha do Malvão não é endossado pela Riot Games e não reflete as opiniões ou opiniões da Riot Games ou de qualquer pessoa oficialmente envolvida na produção ou gerenciamento de propriedades da Riot Games. Riot Games e todas as propriedades associadas são marcas comerciais ou marcas registradas da Riot Games, Inc</p>
            
            </div>
            </div>
            
          </div>
          
          
    </body>
</html>